.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header {
    margin-top: 40px;
    color: white;
    text-shadow: var(--neon-shadows);
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 500px;
}

.inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 24px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 8px;
}

.showText, .hideText {
    resize: none;
    height: 100px;
    padding: 10px 20px;
    border-radius: 8px;
}

.hideText {
    opacity: 0;
}

.button {
    height: 56px;
    width: 56px;
    border-radius: 8px;
}

.buttonIcon {
    filter: var(--dark-lights);
}

.list {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}